body {
	width: 100%;
	font-family: 'raleway', sans-serif;
}

.container {
	flex-wrap: wrap;
}

.img-responsive {
	width: 100%;
	display: block;
	height: auto;
}

.page-header {
	font-family: 'raleway', sans-serif;
	font-size: 20px;
	color: #2d3c49;
	text-transform: uppercase;
}

.page-header small {
	font-weight: 900;
	color: #2d3c49;
	font-family: arial, helvetica, sans-serif;
}

.mein-AD {
	color: #7d97ad;
}
